/*
==============================
HEADER
==============================
*/
header {
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
}
header .two-third-reversed {
  align-items: center;
}
header .two-third-reversed div {
  margin-bottom: 0;
}
header .two-third-reversed div:last-child {
  margin-bottom: 2rem;
}
.site-logo {
  background-image: url(../img/Octiv-Logo-Color.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 45px;
  margin: 2rem 0 1rem;
}
.menu-header-container > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  > li {
    &:before {
      display: none;
    }
    flex: 1;
    position: relative;
    a {
      padding: 0.5rem;
      border-radius: 5px;
      color: $gray;
      &:hover {
        background-color: $brand;
        color: $white;
      }
    }
  }
}
.menu-header-container .sub-menu {
  display: none;
  border: 1px solid $mgray;
  border-radius: 5px;
  margin-top: 0.4rem;
  background-color: $lgray;
  background-image: linear-gradient($white, $lgray);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  list-style-type: none;
  li {
    &:before {
      display: none;
    }
    margin: 0;
    border-bottom: 1px solid $mgray;
    a {
      padding: 0.5rem;
      display: block;
      border-radius: 0;
      width: 100%;
    }
  }
}
.menu-header-container > ul > li:hover > .sub-menu {
  display: block;
  position: absolute;
}
.menu-header-container .sub-menu > li:hover .sub-menu {
  display: block;
  position: absolute;
  right: 100%;
  top: -0.4rem;
  width: 100%;
}
@include bp(sm) {
  header .two-third-reversed div:last-child {
    margin-bottom: 0;
  }
  .site-logo {
    background-position: initial;
    margin: 2rem 0 2rem;
  }
}
