table {
  width: 100%;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  border-radius: 5px;
  border-collapse: collapse;
  &.dark-table th {
    background-color: $gray;
    background-image: linear-gradient(lighten($gray, 15%), $gray);
  }
  &.brand-two-table th {
    background-color: $brand2;
    background-image: linear-gradient(lighten($brand2, 15%), $brand2);
  }
  &.brand-three-table th {
    background-color: $brand3;
    background-image: linear-gradient(lighten($brand3, 15%), $brand3);
  }
  &.brand-four-table th {
    background-color: $brand4;
    background-image: linear-gradient(lighten($brand4, 15%), $brand4);
  }
  &.brand-five-table th {
    background-color: $brand5;
    background-image: linear-gradient(lighten($brand5, 15%), $brand5);
  }
}
th, td {
  display: table-cell;
}
table th,
table td {
  padding: 0.5rem;
}
thead th {
  background-color: $brand;
  color: $white;
  border-right: 1px solid $mgray;
  &:first-child {
    border-radius: 5px 0 0 0;
  }
  &:last-child {
    border-radius: 0 5px 0 0;
    border-right: 0;
  }
}
tbody {
  border: 1px solid $mgray;
}
tbody tr:nth-child(2n) td {
  background-color: $lgray;
}
tbody td:nth-child(2n) {
  border-left: 1px solid $mgray;
  border-right: 1px solid $mgray;
}
.table-data-cells th,
.table-data-cells td {
  text-align: center;
  &:first-of-type {
    text-align: left;
  }
}
